*{
    margin: 0;
    border: 0;
}
#Header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 200px;
    top: 0;
    left:0;
}
#header2 {
    background-color: black;
    height: 200px;
    width: 100%;
}