*{
    margin: 0;
    border: 0;
}

.menu-principal {
    width: 100%;
    background-color: #000000;
    height: 130px;
 }
 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: flex-end;
     align-content: center;
     width: 100%;
     height: 85px;
 }
 .logo{
    color: aqua;
    font-size: 2rem; 
 }

.busca input { 
    background-repeat: no-repeat;
    background-position: 95%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #00bac6;
    padding: 10px;
    width: 37rem;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end ;
    align-content: center;
    width: 100%;
    height: 45px;  
}
.container2 .menulink {
    display: flex;
}
.menulink li a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.cardsA {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.card1 {
    width: 362px;
    height: 471px;
    background-color: aliceblue;
    border-radius: 16px;
}
.teste1 {
    border-radius: 16px; 
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
.marcas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(203, 209, 209);
}

.cardsB {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}

.maisVendidos {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 130px;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 30px;
}

.footer {
    background-color:#dfdfdf;
    height: 58vh;
    width: 100%;
    font-family: 'Josefin sans';
    padding-top: 40px;
}

.info1 {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.info1 h1 {
    line-height: 4rem;
}

.info1 p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 30px;
    font-size: 18px;
}

.redes {
    list-style: none;
    display: flex;
    margin: 1rem 0 3rem 0;
}

.redes li {
    margin: 0 10px;
}

.redes a {
    text-decoration: none;
    color: black;
}

.redes a i {
    font-size: 2rem;
    transition: color .3s ease;
}

.redes a:hover i {
    color: aqua;
}

.info2 {
    background: #dfdfdf;
    width: 100%;
    height: auto;
    padding: 0 20px;
    text-align: right;
}

.info2 p {
    font-size: 14px;
    word-spacing: 2px;
}