*{
    margin: 0;
    border: 0;
}

.menu-principal {
    width: 100%;
    background-color: #000000;
    height: 130px;
 }
 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: flex-end;
     align-content: center;
     width: 100%;
     height: 85px;
 }
 .logo{
     color: aqua;
    font-size: 2rem; 
 }

.busca input { 
   background-repeat: no-repeat;
   background-position: 95%;
   border-radius: 10px;
   border-width: 2px;
   border-style: solid;
   border-color: #00bac6;
    
   padding: 10px;
    width: 37rem;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end ;
    align-content: center;
    width: 100%;
    height: 45px;  
}
.container2 .menulink {
    display: flex;
      
}
.menulink li a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.cards {
    width: 100%;
    height: 650px;
    display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     align-content: center;
}
.card1 {
    width: 362px;
    height: 471px;
    background-color: aliceblue;
    border-radius: 16px;
}
.teste1 {
    border-radius: 16px; 
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
.marcas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(203, 209, 209);
}
